@charset "UTF-8";
:root{
    --cor01:#d3f4e6;
    --cor02:#2E7958;
    --cor03:#4a846b;
    --cor04:#244034;
    --cor05:#0f3b28;

    --font01: Arial, Helvetica, sans-serif;
    --font02: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font03: #;
}
@media screen and (min-width:768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, var(--cor03), var(--cor05));
    }

    section#login{
        width: 80vw;
    }
    
    section#login > div#imagem{
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 60%;
    }    
}

@media screen and (min-width: 993px) {
    body{
        background-image: linear-gradient(to top, var(--cor03), var(--cor05));
    }

    section#login{
        width: 950px;
    }

    section#login > div#imagem{
        float: right;
        width: 45%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 52%;
    } 

    h1{
        font-size: 2em;
    }
    
    p{
        font-size: 1.2em;
    }

    
}